name: React CI Pipeline
on: [push] 

jobs:
  build-and-test:
    runs-on: ubuntu-latest 
    steps:
      - uses: actions/checkout@v4 
      - name: Install dependencies
        run: npm install
      - name: Run logic tests
        run: npm test -- --watchAll=false 